@font-face {
	font-family: 'CarosSoftExtraBold';
	src: url(../fonts/CarosSoftExtraBold-672de4ac680543af2e245b59a7cb14e4.woff2) format('woff2'),
	url(../fonts/CarosSoftExtraBold-44b2ada2bf66287a5b71e02f015d078a.woff) format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}